extends layout

block content
  h1=title
  h2 hi there #{today_date}
  p Welcome to #{title}. This updates daily and can be accessed via NASA's APIs.
  img(src=picture_url)
  h3 Image Explained:
  p #{explanation}
